<footer class="c-footer" [class.over]="!isOverflowing">
        <div class="c-footer__container">
                <p class="c-footer__title">¿POR QUE COMPRAR EN ESTA WEB?</p>
                <div class="c-footer__items u-container">
                        <div class="c-footer__items__item">
                                <div class="c-footer__items__item__img">
                                        <img src="static/assets/icons/market.png" alt="market">
                                </div>
                                <div class="c-footer__items__item__text">
                                        <div class="c-footer__items__item__text__title">MEJORES PROVEEDORES DEL MERCADO</div>
                                        <div class="c-footer__items__item__text__sub-text">A nosotros de jóvenes nos habría gustado comprar las camisetas que quisiéramos pero que no se deshilen y pierdan el nombre en la primera lavada, y tras múltiples búsquedas, llegamos a comprarnos camisetas con los mejores proveedores y ahora lo compartimos con vosotros.</div>
                                </div>
                        </div>
                        <div class="c-footer__items__item">
                                <div class="c-footer__items__item__img">
                                        <img src="static/assets/icons/like.png" alt="like">
                                </div>
                                <div class="c-footer__items__item__text">
                                        <div class="c-footer__items__item__text__title">INCREIBLE VARIEDAD</div>
                                        <div class="c-footer__items__item__text__sub-text">Siempre queremos tener la mayor variedad de camisetas disponible ya que somos unos unos grandes fanáticos del fútbol a pesar del equipo que seamos, si no encuentra alguna camiseta póngase en contacto con nosotros y en nada la tendremos disponible para usted.</div>
                                </div>
                        </div>
                        <div class="c-footer__items__item">
                                <div class="c-footer__items__item__img">
                                        <img src="static/assets/icons/box.png" alt="box">
                                </div>
                                <div class="c-footer__items__item__text">
                                        <div class="c-footer__items__item__text__title">MARCA DIGITAL RECIENTE</div>
                                        <div class="c-footer__items__item__text__sub-text">Somos jóvenes emprendedores con ideas claras, que harán lo que haga falta para que el cliente se lleve la mejor experiencia posible, ya que es un principio fundamental en nosotros, además de que nos gustaría a nosotros también tener buena experiencia comprando en sitios ajenos.</div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="c-footer__container-social-media u-container">
                <div class="c-footer__container-social-media__text">
                        <img src="static/assets/header/logo.png" alt="logo dz" title="logo dz" title="footer">
                </div>
                <div class="c-footer__container-social-media__icons">
                        <a href="https://ig.me/m/zonadribling" target="_blank"><img src="static/assets/icons/insta.png" alt="insta"></a>
                        <a href="https://www.tiktok.com/@zonadribling?_t=ZN-90q5RsQGBok&_r=1" target="_blank"><img src="static/assets/icons/tik-tok.png" alt="tik tok"></a>
                </div>
        </div>
</footer>